.Header{
    &__title{
        font-size: 2.0rem;
        font-weight: bold;
        color: #fff;
        margin-bottom: 2.5rem;
        text-align: center;
    }

    &__list{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
        list-style: none; 
        &__item{
            font-size: 1.0rem;
            text-transform: uppercase;
            margin: 10px;
            &:hover{
              color: rgb(224, 110, 34);
            }
       
      
    }
    }
   
}