.home {
  padding: 20px;
  &__header {
    h1 {
    }
  }
  &__main {
    p {
      font-size: 2rem;
      text-align: center;
      margin: 0 0 30px 0;
    }
    b {
      background: #ff5722;
      background-image: linear-gradient(90deg, #ff5722 0%, #ffb74d 100%),
        linear-gradient(
          to bottom,
          rgba(240, 40, 40, 0) 0%,
          rgba(240, 40, 40, 0) 100%
        );
      padding: 5px 8px;
      border-radius: 7px;
    }
  }
  &__form{
    margin: 10px;
  }
  &__shorturl {
    background: #fff;
    color: #000;
    border-radius: 20px;
    margin: 0;
    padding: 22px 40px;
    height: auto;
    margin: 20px auto 20px auto;
    width: calc(400px - 80px);
    max-width: 100%;
    text-align: center;
    button {
      cursor: pointer;
      background: #ff5722;
      background-image: linear-gradient(90deg, #ff5722 0%, #ffb74d 100%),
        linear-gradient(
          to bottom,
          rgba(240, 40, 40, 0) 0%,
          rgba(240, 40, 40, 0) 100%
        );
      border-radius: 3px;
      border: none;
      padding: 6px 11px;
      font-size: 18px;
      margin-bottom: 12px;
      margin-left: 4px;
      &:hover {
        background: #ffb84d7e;
      }
    }
  }
}
